apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: statestore
spec:
  type: state.redis
  version: v1
  metadata:
  - name: redisHost
    value: "redis-master.default.svc.cluster.local:6379" # Assuming Redis is deployed as 'redis-master' in default namespace
  - name: redisPassword
    secretKeyRef:
      name: redis-password
      key: redis-password # Name of the key in the Kubernetes secret
  # - name: enableTLS
  #   value: "true"
